.oompaCard {
  display: flex;
  flex-direction: column;
}

.oompaCard img {
  width: 100%;
  margin-bottom: 20px;
}

.oompaCard h2 {
  font-size: 20px;
}

.oompaCard p {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
  font-style: italic;
}

.oompaCard:hover {
  cursor: pointer;

  h2 {
    color: #20b4d6
  }
}